.wp-block {
    max-width: 1000px;
}

.customize-control {
    margin-bottom: 10px !important;
    padding-bottom: 10px !important;
}

.customize-control:not(.customize-control-kirki-dimensions):not(.customize-control-kirki-typography) {
    border-bottom: 1px solid #ddd !important;
    margin-bottom: 15px !important;
    padding-bottom: 15px !important;
}

.customize-control-kirki-custom h2 {
    background: #fff;
    padding: 15px 12px;
    margin: -15px -12px;
    display: block;
}

#setting-error-magine {
    width: 100%;
    padding: 0px;
    display: block;
}

#setting-error-magine p {
    padding: 20px;
}

#magine_post_thumbs {
    width: 70px
}

.column-magine_post_thumbs img {
    width: 70px;
    height: auto;
}

#magine-cmb2social-title {
    margin-bottom: 20px;
}

#cmb2-metabox-magine_author_fields {
    max-width: 600px;
    margin: 20px 0 40px 0;
}

#cmb2-metabox-magine_author_fields .cmb-repeatable-group .cmb-group-title {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

#cmb2-metabox-magine_author_fields input.cmb2-text-url {
    width: 100%;
}
